body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#nprogress .bar {
  background: green !important;
  height: 5px !important;
}

#nprogress .spinner-icon {
  border-top-color: green !important;
  border-left-color: green !important;
}

.card-hover:hover {
  box-shadow: 3px 3px 0px 3px rgba(40, 182, 44, 0.5);
}

.text-overflow-clamp {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.image.image_resized {
  display: block;
  box-sizing: border-box;
}
.image.image_resized img {
  width: 100%;
}

.image.image_resized > figcaption {
  display: block;
}
